{% extends 'base.html' %}

{% block content %}


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="info-box text-center">Risk per Day: {{ risk_per_day }}</div>
                <div class="input-box">
                    <label for="maxRisk">Max Risk for Trade:</label>
                    <input type="number" id="maxRisk" name="maxRisk" class="form-control">
                </div>
                <div class="info-box text-center" id="maxRiskToday">Max Risk Today: <!-- Dynamic content here --></div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="info-box text-center">Objective per Day: {{ objective_per_day }}</div>
                <div class="input-box">
                    <label for="stopLossTrigger">Trigger % Safe Stop Loss:</label>
                    <input type="number" id="stopLossTrigger" name="stopLossTrigger" class="form-control">
                </div>
                <div class="input-box">
                    <label for="stopLossAmount">Amount of % Safe Stop Loss:</label>
                    <input type="number" id="stopLossAmount" name="stopLossAmount" class="form-control">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <button id="startTrading" class="btn btn-primary">Start Trading</button>
                <button id="pauseTrading" class="btn btn-secondary">Pause Trading</button>
                <button id="showGraph" class="btn btn-success">Show Daily Graph</button>
            </div>
        </div>
        <!-- Graph for the Last 7 Days -->
        <h2>Last 7 Days Overview</h2>
        <canvas id="sevenDayGraph"></canvas>

        <!-- Table for Trades -->
        <h2>Recent Trades</h2>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Symbol</th>
                            <th>Side</th>
                            <th>Percentage (%)</th>
                            <th>PnL ($)</th>
                            <th>Stop Loss IDs</th>
                            <th>Leverage</th>
                            <th>Entry Price ($)</th>
                            <th>Max Risk ($)</th>
                            <th>Trigger % Stop Loss</th>
                            <th>% Safe Stop Loss</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                <tbody>
                    {% for trade in trades %}
                    <tr>
                        <td>{{ trade.symbol }}</td>
                        <td style="color: {{ 'green' if trade.side == 'Long' else 'red' }}">{{ trade.side }}</td>
                        <td>{{ trade.percentage }} %</td>
                        <td>${{ trade.pnl }}</td>
                        <td>{{ trade.stop_loss_orders_ids }}</td>
                        <td>{{ trade.leverage }}</td>
                        <td>${{ trade.entry_price }}</td>
                        <td>${{ trade.max_risk }}</td>
                        <td>{{ trade.trigger_safe_stop_loss }} %</td>
                        <td>{{ trade.percentage_safe_stop_loss }} %</td>
                        <td class="{{ 'text-white' if trade.state == 'Open' else '' }}" style="background-color: {{ 'green' if trade.state == 'Open' else '' }}; padding: 5px;">
                            {{ trade.state }}
                        </td>
                        <td>
                            {% if trade.state == 'Open' %}
                                <button class="btn btn-warning">Panic Sell</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <!-- Your page-specific content goes here -->
    </div>

{% endblock %}